html, body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}



button {
    position: relative;
    min-height: 40px;
    min-width: 120px;

    font-size: large;
    font-family: "Protest Riot", sans-serif;

    border-radius: 8px;
    border-width: 0px;
}

button:hover {
    cursor: pointer;
}

.title {
    font-size: xx-large;
    align-self: center;

    font-weight: lighter;
    font-family: "Protest Riot", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#nope-button {
    background-color: #F43F5E;
    color: white;
}

#nope-button:hover {
    background-color: #bc0927;
    color: white;
}

#yes-button {
    background-color: #22C55E;
    color: white;
}

#yes-button:hover {
    background-color: #039438;
    color: white;
}

.please-img {
    height: 250px;
    width: 250px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

[className*="relative"] {
    position: relative;
}

[className*="flex"] {
    display: flex;
}

[className*="gap"] {
    gap: 10px;
}

[className*="flex-center"] {
    justify-content: center;
    align-items: center;
}

[className*="overflow-hidden"] {
    overflow: hidden;
}

[className*="w-full"] {
    width: 100%;
}

[className*="h-full"] {
    height: 100%;
}

[className*="justify-center"] {
    justify-content: center;
}

[className*="align-center"] {
    align-items: center;
}

button[absolute=""] {
    position: absolute;
}

.question-form {
    display: flex;
    flex-direction: column;
}

.activity-selection {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 100vw;
    flex-wrap: wrap;
}

.activity-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.activity-item img {
    width: 300px;
    height: 250px;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

.activity-item label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.activity-item-input {
    display: flex;
    gap: 10px;
}




.background {
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

.end {
    background-color: #fff5e4;
}